/* --common start-- */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?lxygm3');
    src:  url('../fonts/icomoon.eot?lxygm3#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?lxygm3') format('truetype'),
      url('../fonts/icomoon.woff?lxygm3') format('woff'),
      url('../fonts/icomoon.svg?lxygm3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* header */
.title {
    height:90px;
    margin-top: 10px;
}
.title img{
    height: 70px;
}
.nav_x {
    /* float: left; */
    height: 41px;
    line-height: 41px;
}
.nav_x li {
    float: left;
    width: 200px;
    height: 41px;
    margin-right: 10px;
    padding: 0 20px;
    font-size: 16px;
    text-align: center;
    color: #912b2b;
    background-color: #8583831e;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2);
}
.nav_x li:hover {
    background-color: #eee;
    color: rgb(5, 5, 5);
}


/* banner */

.content {
    /* height: 500px; */
    background-color: rgba(247, 243, 238, 0.8);
} 

.container_x {
    /* float: left;
    width: 69%; */
    height: 500px;
    /* margin-left: 1%; */
}
aside {
    overflow: auto;
    float: left;
    width: 30%;
    height: 100%;
}

/* footer */
.footer {
    /* height: 215px; */
    background-color: #fff;
}

.footer .col {
    width:250px;
}
.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
  
.bi {
vertical-align: -.125em;
fill: currentColor;
}

.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
    font-size: 3.5rem;
}
}
/* --common end-- */


/* --1 start-- */

.jumbotron {
    background-image: url("../images/sh.jpg");
    /* background-size: cover; */
}

/* --1 end-- */

/* --2 start-- */
.intro p {
    color: #525253;
    font-weight: 300;
    font-size: 16px;
    margin: 0 0 10px;
}


#imgdiv img{
    height:300px;
}



/* 3 */
.col-md-4 {
    margin: auto;
    text-align: center;
}
/* 3 */
/* --4 start-- */
#form4 .half{
    float: left;
    width: 45%;
}
.refresh {
    display: block;
    margin: 10px auto;
}
/* 刷新动画 */
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

#aside4 button {
    float: left;
    width: 70px;
    height:30px;
    margin: 10px 10px;
    border-radius: 4px;
    border: 1px;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.2), 0 2px 5px 0 rgba(0,0,0,0.19);
}
#aside4 button:hover {
    box-shadow: 0 3px 16px 0 rgba(0,0,0,0.24), 0 4px 10px 0 rgba(0,0,0,0.19);
}
/* info4 */
#info4 {
    line-height: 30px;
    font-size:14px;
}
#info4 span {
    float:right;
    margin-right: 20px;
    font-family: 'icomoon';
    color: rgb(136, 133, 133);
}
/* main */
.main {
    margin: 0px 7%;
    width: 86%;
}

/* subnav4 */
#subnav4 ul li {
    float: left;
    width: 50%;
}
#subnav4 ul li a {
    display: block;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: #8d8a8a;
    border-bottom: 2px solid #d5d5da;
}
#subnav4 ul li a:hover {
    border-bottom: 2px solid #4d4e4e;
    color: #090a0a;
}

/* select */
#select4 {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 28px;
    font-size: 12px;
    width: 270px;
}
.select #select4:focus {
    border-style:solid;
    border-color: rgb(105, 85, 105)4;
}
.select span {
    font-size: 12px;
    float: right;
    font-family: 'icomoon';
    text-align: center;
}

/* hint4 */
#hint4 {
    margin-bottom: 10px;
    font-size: 12px;
}
#hint4 span {
    float: right;
    font-family: 'icomoon';
    text-align: center;
}

/* details */
.details {
    border-left: 34px solid white;
    width: 100%;
    background-color: white;
}
.front span {
    float: right;
    font-family: 'icomoon';
    text-align: center;
}

/* table4 */
#table4 {
    font-size: 12px;

    color: #090a0a;
	border-collapse: collapse;
}
#table4 tr {
    height: 20px;
}

#table4 .th {
    color: #8d8a8a;
    width: 45%;
}
#table4 tbody tr:nth-child(odd) {
	background-color: #f8f8f8;
}
/* --4 end-- */
